In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cl_br = pd.read_csv('treino.csv')

In [3]:
cl_br.head()

,Pos,Clube,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med,campeão,rebaixou,Liberta
0,1,São Paulo FC,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187,1,0,1
1,2,SC Internacional,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187,0,0,1
2,3,Santos FC,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628,0,0,1
3,4,Paraná Clube,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747,0,0,1
4,5,Grêmio FBPA,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136,0,0,1

In [4]:
cl_br.drop(['Clube', 'campeão', 'rebaixou', 'Liberta'], axis=1)

,Pos,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med
0,1,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187
1,2,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187
2,3,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628
3,4,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747
4,5,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,16,6,3,10,-8,21,24,32,1.263,1.684,0.3684,1.1348,1.5130
316,17,4,7,8,-7,19,15,22,0.789,1.158,0.3333,0.7092,1.0402
317,18,4,5,10,-7,17,15,22,0.789,1.158,0.2982,0.7092,1.0402
318,19,3,8,8,-6,17,8,14,0.421,0.737,0.2982,0.3783,0.6619
319,20,0,7,12,-16,7,15,31,0.789,1.632,0.1228,0.7092,1.4657

In [79]:
X_train = cl_br.drop(['Clube', 'E', 'gol_pro_pj', 'gol_con_pj', 'aprov', 'campeão', 'rebaixou', 'Liberta'], axis=1)

In [80]:
cl_br['campeão'].head()

0    1
1    0
2    0
3    0
4    0
Name: campeão, dtype: int64

In [81]:
y_train_1 = cl_br['campeão']

In [82]:
cl_br['rebaixou'].head()

0    0
1    0
2    0
3    0
4    0
Name: rebaixou, dtype: int64

In [83]:
y_train_2 = cl_br['rebaixou']

In [84]:
cl_br['Liberta'].head()

0    1
1    1
2    1
3    1
4    1
Name: Liberta, dtype: int64

In [85]:
y_train_3 = cl_br['Liberta']

In [571]:
from sklearn.model_selection import train_test_split

In [572]:
X_train = cl_br.drop(['Clube', 'E', 'gol_pro_pj', 'gol_con_pj', 'aprov', 'campeão', 'rebaixou', 'Liberta'], axis=1)

In [573]:
y_train_1 = cl_br['Liberta']

In [574]:
X_train, X_test, y_train_1, y_test_1 = train_test_split(X_train, y_train_1, test_size=0.25, random_state=0)

In [575]:
from sklearn.linear_model import LogisticRegression

In [576]:
sgdc = LogisticRegression(solver='sag')

In [577]:
sgdc.fit(X_train,y_train_1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

LogisticRegression(solver='sag')

In [578]:
sgdc.coef_

array([[-0.14457825,  0.10222856, -0.23984977,  0.05145754,  0.04314222,
         0.01985194, -0.0316056 ,  0.01034426, -0.01333178]])

In [579]:
sgdc.score(X_test,y_test_1)

0.825

In [580]:
X_test.shape

(80, 9)

In [581]:
X_test = X_test.reset_index()

In [582]:
X_test = X_test.drop(['index'], axis=1)

In [583]:
pd.DataFrame(sgdc.predict_proba(X_test))

           0         1
0   0.116175  0.883825
1   0.993193  0.006807
2   0.986017  0.013983
3   0.452256  0.547744
4   0.962197  0.037803
..       ...       ...
75  0.994012  0.005988
76  0.331258  0.668742
77  0.073608  0.926392
78  0.401004  0.598996
79  0.663388  0.336612

[80 rows x 2 columns]

In [584]:
X_test['pred'] = pd.DataFrame(sgdc.predict_proba(X_test))[1]
X_test.head()

   Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med      pred
0    2  11  5  15   36       33       18       1.5677       0.8551  0.883825
1   19   3  9 -11   16       11       22       0.5081       1.0162  0.006807
2   16   6  9 -12   22       27       39       1.0526       1.5205  0.013983
3    6   8  5   6   30       28       22       1.0072       0.7914  0.547744
4   17   4  6  -5   21       18       23       0.7407       0.9465  0.037803

In [587]:
X_test.sort_values(['Pts', 'SG'], ascending=False).head(10)

    Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med      pred
6     1  12  2  16   41       32       16       1.4781       0.7390  0.964657
65    1  12  3  24   40       42       18       1.7464       0.7484  0.972703
70    1  10  2  17   37       32       15       1.3646       0.6397  0.953151
15    1  11  4  14   37       37       23       1.3309       0.8273  0.910892
16    3  12  6  13   37       29       16       1.2420       0.6852  0.841561
49    2  11  4  13   37       34       21       1.4592       0.9013  0.894025
0     2  11  5  15   36       33       18       1.5677       0.8551  0.883825
25    1  11  5  15   36       35       20       1.4403       0.8230  0.895607
77    2   9  1  12   36       33       21       1.3174       0.8383  0.926392
11    4  10  4   5   35       26       21       1.0379       0.8383  0.746659