In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cl_br = pd.read_csv('treino.csv')

In [3]:
cl_br.head()

,Pos,Clube,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med,campeão,rebaixou,Liberta
0,1,São Paulo FC,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187,1,0,1
1,2,SC Internacional,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187,0,0,1
2,3,Santos FC,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628,0,0,1
3,4,Paraná Clube,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747,0,0,1
4,5,Grêmio FBPA,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136,0,0,1

In [4]:
cl_br.drop(['Clube', 'campeão', 'rebaixou', 'Liberta'], axis=1)

,Pos,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med
0,1,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187
1,2,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187
2,3,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628
3,4,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747
4,5,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,16,6,3,10,-8,21,24,32,1.263,1.684,0.3684,1.1348,1.5130
316,17,4,7,8,-7,19,15,22,0.789,1.158,0.3333,0.7092,1.0402
317,18,4,5,10,-7,17,15,22,0.789,1.158,0.2982,0.7092,1.0402
318,19,3,8,8,-6,17,8,14,0.421,0.737,0.2982,0.3783,0.6619
319,20,0,7,12,-16,7,15,31,0.789,1.632,0.1228,0.7092,1.4657

In [61]:
X_train = cl_br.drop(['Clube', 'E', 'gol_pro_pj', 'gol_con_pj', 'aprov', 'campeão', 'rebaixou', 'Liberta'], axis=1)

In [62]:
X_train['Pos_2'] = X_train['Pos']**2
X_train.head()

   Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med  Pos_2
0    1  11  3  11   38       32       21       1.2476       0.8187      1
1    2   9  3   6   34       27       21       1.0526       0.8187      4
2    3   9  5  10   32       27       17       1.0526       0.6628      9
3    4   9  6  10   31       35       25       1.3645       0.9747     16
4    5   8  6   4   29       30       26       1.1696       1.0136     25

In [7]:
Aha = cl_br.drop(['Clube', 'E', 'gol_pro_pj', 'gol_con_pj', 'aprov', 'campeão', 'rebaixou', 'Liberta'], axis=1)

In [8]:
Aha['Pos_2'] = Aha['Pos']**2

In [9]:
cl_br['campeão'].head()

0    1
1    0
2    0
3    0
4    0
Name: campeão, dtype: int64

In [10]:
y_train_1 = cl_br['campeão']

In [11]:
cl_br['rebaixou'].head()

0    0
1    0
2    0
3    0
4    0
Name: rebaixou, dtype: int64

In [12]:
y_train_2 = cl_br['rebaixou']

In [13]:
cl_br['Liberta'].head()

0    1
1    1
2    1
3    1
4    1
Name: Liberta, dtype: int64

In [58]:
y_train_3 = cl_br['Liberta']

In [59]:
from sklearn.model_selection import train_test_split

In [63]:
X_train, X_test, y_train_3, y_test_3= train_test_split(X_train, y_train_3, test_size=0.25, random_state=0)

In [64]:
from sklearn.linear_model import LogisticRegression

In [65]:
logisticRegr = LogisticRegression()

In [66]:
logisticRegr.fit(X_train, y_train_3)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [67]:
score = logisticRegr.score(X_test, y_test_3)
print(score)

0.825

In [68]:
predictions = logisticRegr.predict(X_test)

In [69]:
X_test.head(7)

     Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med  Pos_2
181    2  11  5  15   36       33       18       1.5677       0.8551      4
258   19   3  9 -11   16       11       22       0.5081       1.0162    361
15    16   6  9 -12   22       27       39       1.0526       1.5205    256
65     6   8  5   6   30       28       22       1.0072       0.7914     36
216   17   4  6  -5   21       18       23       0.7407       0.9465    289
63     4   9  4   7   33       28       21       1.0072       0.7554     16
240    1  12  2  16   41       32       16       1.4781       0.7390      1

In [70]:
pred_proba = logisticRegr.predict_proba(X_test)

In [71]:
X_test

     Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med  Pos_2
181    2  11  5  15   36       33       18       1.5677       0.8551      4
258   19   3  9 -11   16       11       22       0.5081       1.0162    361
15    16   6  9 -12   22       27       39       1.0526       1.5205    256
65     6   8  5   6   30       28       22       1.0072       0.7914     36
216   17   4  6  -5   21       18       23       0.7407       0.9465    289
..   ...  .. ..  ..  ...      ...      ...          ...          ...    ...
137   18   3  9 -13   16       20       33       0.8565       1.4133    324
45     6   9  5  10   32       29       19       1.1175       0.7322     36
101    2   9  1  12   36       33       21       1.3174       0.8383      4
266    7   8  4   6   31       22       16       1.0115       0.7356     49
126    7   8  6   0   29       23       23       0.9850       0.9850     49

[80 rows x 10 columns]

In [72]:
pd.DataFrame(pred_proba*100)

            0          1
0    9.846637  90.153363
1   98.996271   1.003729
2   97.718039   2.281961
3   48.017237  51.982763
4   94.759679   5.240321
..        ...        ...
75  99.189539   0.810461
76  33.225397  66.774603
77   6.742421  93.257579
78  40.918371  59.081629
79  67.483831  32.516169

[80 rows x 2 columns]

In [73]:
predictions

array([1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0], dtype=int64)

In [74]:
X_test.head()

     Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med  Pos_2
181    2  11  5  15   36       33       18       1.5677       0.8551      4
258   19   3  9 -11   16       11       22       0.5081       1.0162    361
15    16   6  9 -12   22       27       39       1.0526       1.5205    256
65     6   8  5   6   30       28       22       1.0072       0.7914     36
216   17   4  6  -5   21       18       23       0.7407       0.9465    289

In [75]:
teste = np.array([2,13,2,19,43,34,15,1.4561,0.6424, 4])

In [76]:
teste = teste.reshape(1,-1)

In [77]:
logisticRegr.predict_proba(teste)

array([[0.01543499, 0.98456501]])

In [78]:
pd.DataFrame(teste)

     0     1    2     3     4     5     6       7       8    9
0  2.0  13.0  2.0  19.0  43.0  34.0  15.0  1.4561  0.6424  4.0

In [79]:
pd.DataFrame(logisticRegr.coef_)

,0,1,2,3,4,5,6,7,8,9
0,-0.159704,0.37121,-0.346033,0.041463,-0.014835,0.016578,-0.024885,0.12708,-0.101558,0.004649

In [80]:
tudo = logisticRegr.predict_proba(Aha)

ValueError: X has 12 features per sample; expecting 10

In [85]:
Aha['libertadores?'] = pd.DataFrame(tudo)[1]
Aha.head()

,Pos,V,D,SG,Pts,gol_pro,gol_con,gol_pro/med,gol_con/med,Pos_2,rebaixou,rebaixado,libertadores?,class
0,1,11,3,11,38,32,21,1.2476,0.8187,1,0.061314,0,0.938686,1
1,2,9,3,6,34,27,21,1.0526,0.8187,4,0.170139,0,0.829861,1
2,3,9,5,10,32,27,17,1.0526,0.6628,9,0.255971,0,0.744029,1
3,4,9,6,10,31,35,25,1.3645,0.9747,16,0.365828,0,0.634172,1
4,5,8,6,4,29,30,26,1.1696,1.0136,25,0.573102,0,0.426898,1

In [86]:
#Aha['campeão']
Aha['class'] = cl_br['Liberta']

In [87]:
Aha.shape

(320, 14)

In [102]:
Aha[Aha['class'] == 0].sort_values(['Pos'], ascending = True).head(40)

,Pos,V,D,SG,Pts,gol_pro,gol_con,gol_pro/med,gol_con/med,Pos_2,rebaixou,rebaixado,libertadores?,class
21,2,9,4,11,33,38,27,1.4153,1.0056,4,0.179327,0,0.820673,0
202,3,10,5,13,34,28,15,1.1523,0.6173,9,0.165676,0,0.834324,0
62,3,10,4,11,35,37,26,1.3309,0.9353,9,0.150496,0,0.849504,0
82,3,10,5,8,34,30,22,1.2876,0.9442,9,0.222316,0,0.777684,0
23,4,9,6,11,31,34,23,1.2663,0.8566,16,0.348798,0,0.651202,0
183,4,10,6,4,33,22,18,1.0451,0.8551,16,0.360508,0,0.639492,0
83,4,9,6,4,31,24,20,1.0300,0.8584,16,0.447012,0,0.552988,0
263,4,10,6,8,33,25,17,1.1494,0.7816,16,0.302726,0,0.697274,0
104,5,10,5,10,34,29,19,1.1577,0.7585,25,0.240388,0,0.759612,0
24,5,8,5,2,30,25,23,0.9311,0.8566,25,0.517205,0,0.482795,0
184,5,9,6,14,31,32,18,1.5202,0.8551,25,0.319833,0,0.680167,0
264,5,8,3,9,32,21,12,0.9655,0.5517,25,0.244797,0,0.755203,0
64,5,9,5,7,32,32,25,1.1511,0.8993,25,0.361259,0,0.638741,0
144,5,7,3,11,30,19,8,0.7900,0.3326,25,0.282057,0,0.717943,0
44,5,10,7,9,32,30,21,1.1561,0.8092,25,0.399356,0,0.600644,0
225,6,8,7,4,28,30,26,1.2931,1.1207,36,0.674688,0,0.325312,0
105,6,8,3,11,32,25,14,0.9980,0.5589,36,0.245852,0,0.754148,0
205,6,9,5,6,32,27,21,1.1111,0.8642,36,0.392931,0,0.607069,0
45,6,9,5,10,32,29,19,1.1175,0.7322,36,0.332254,0,0.667746,0
5,6,8,6,0,29,30,30,1.1696,1.1696,36,0.664703,0,0.335297,0
285,6,8,5,4,30,27,23,1.1514,0.9808,36,0.511485,0,0.488515,0
25,6,9,8,3,29,28,25,1.0428,0.9311,36,0.685984,0,0.314016,0
145,6,7,3,5,30,32,27,1.3306,1.1227,36,0.423583,0,0.576417,0
125,6,8,4,7,31,22,15,0.9422,0.6424,36,0.369674,0,0.630326,0
165,6,9,6,3,31,17,14,0.8521,0.7018,36,0.507144,0,0.492856,0
106,7,8,8,6,27,26,20,1.0379,0.7984,49,0.729819,0,0.270181,0
246,7,7,7,6,26,22,16,1.0162,0.7390,49,0.724629,0,0.275371,0
126,7,8,6,0,29,23,23,0.9850,0.9850,49,0.674838,0,0.325162,0
66,7,8,7,11,28,33,22,1.1871,0.7914,49,0.591277,0,0.408723,0
266,7,8,4,6,31,22,16,1.0115,0.7356,49,0.409184,0,0.590816,0
146,7,7,4,7,29,23,16,0.9563,0.6653,49,0.479021,0,0.520979,0
306,7,7,8,2,25,25,23,1.1820,1.0875,49,0.832490,0,0.167510,0
86,7,7,4,3,29,21,18,0.9013,0.7725,49,0.545546,0,0.454454,0
127,8,8,7,6,28,30,24,1.2848,1.0278,64,0.685169,0,0.314831,0
67,8,8,7,0,28,23,23,0.8273,0.8273,64,0.760486,0,0.239514,0
227,8,7,7,-1,26,21,22,0.9052,0.9483,64,0.824770,0,0.175230,0
7,8,7,6,8,27,29,21,1.1306,0.8187,64,0.655957,0,0.344043,0
147,8,7,5,3,28,23,20,0.9563,0.8316,64,0.650102,0,0.349898,0
307,8,6,6,-2,25,18,20,0.8511,0.9456,64,0.833047,0,0.166953,0
247,8,7,7,-1,26,15,16,0.6928,0.7390,64,0.818304,0,0.181696,0

In [ ]:
sns.pairplot(Aha, kind='reg')

In [ ]:
X_train.head()

In [ ]:
X_test['campeão?'] = pd.DataFrame(pred_proba*100)[1]

In [ ]:
X_test = X_test.reset_index()
predic_df = pd.DataFrame(pred_proba*100)
X_test['champs'] = predic_df[1]
X_test

In [ ]:
X_test = X_test.drop(['index','campeão?'], axis=1)

In [ ]:
X_test.to_csv('X_test.csv')

In [ ]:
X_test.sort_values(['champs'], ascending=False)

In [ ]:
sns.pairplot(X_test, kind='reg')