In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
cl_br = pd.read_csv('treino.csv')

In [4]:
cl_br.head()

,Pos,Clube,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med,campeão,rebaixou,Liberta
0,1,São Paulo FC,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187,1,0,1
1,2,SC Internacional,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187,0,0,1
2,3,Santos FC,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628,0,0,1
3,4,Paraná Clube,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747,0,0,1
4,5,Grêmio FBPA,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136,0,0,1

In [5]:
cl_br.drop(['Clube', 'campeão', 'rebaixou', 'Liberta'], axis=1)

,Pos,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med
0,1,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187
1,2,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187
2,3,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628
3,4,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747
4,5,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,16,6,3,10,-8,21,24,32,1.263,1.684,0.3684,1.1348,1.5130
316,17,4,7,8,-7,19,15,22,0.789,1.158,0.3333,0.7092,1.0402
317,18,4,5,10,-7,17,15,22,0.789,1.158,0.2982,0.7092,1.0402
318,19,3,8,8,-6,17,8,14,0.421,0.737,0.2982,0.3783,0.6619
319,20,0,7,12,-16,7,15,31,0.789,1.632,0.1228,0.7092,1.4657

In [220]:
X_train = cl_br.drop(['Clube', 'E', 'gol_pro_pj', 'gol_con_pj', 'aprov', 'campeão', 'rebaixou', 'Liberta'], axis=1)

In [221]:
X_train['Pos_2'] = X_train['Pos']**2
X_train.head()

   Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med  Pos_2
0    1  11  3  11   38       32       21       1.2476       0.8187      1
1    2   9  3   6   34       27       21       1.0526       0.8187      4
2    3   9  5  10   32       27       17       1.0526       0.6628      9
3    4   9  6  10   31       35       25       1.3645       0.9747     16
4    5   8  6   4   29       30       26       1.1696       1.0136     25

In [222]:
Aha = cl_br.drop(['Clube', 'E', 'gol_pro_pj', 'gol_con_pj', 'aprov', 'campeão', 'rebaixou', 'Liberta'], axis=1)

In [223]:
Aha['Pos_2'] = Aha['Pos']**2

In [224]:
cl_br['campeão'].head()

0    1
1    0
2    0
3    0
4    0
Name: campeão, dtype: int64

In [225]:
y_train_1 = cl_br['campeão']

In [226]:
cl_br['rebaixou'].head()

0    0
1    0
2    0
3    0
4    0
Name: rebaixou, dtype: int64

In [227]:
y_train_2 = cl_br['rebaixou']

In [228]:
cl_br['Liberta'].head()

0    1
1    1
2    1
3    1
4    1
Name: Liberta, dtype: int64

In [229]:
y_train_2 = cl_br['Liberta']

In [230]:
from sklearn.model_selection import train_test_split

In [231]:
X_train, X_test, y_train_1, y_test_1 = train_test_split(X_train, y_train_1, test_size=0.25, random_state=0)

In [232]:
from sklearn.linear_model import LogisticRegression

In [233]:
logisticRegr = LogisticRegression()

In [234]:
logisticRegr.fit(X_train, y_train_1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [235]:
score = logisticRegr.score(X_test, y_test_1)
print(score)

0.95

In [236]:
predictions = logisticRegr.predict(X_test)

In [237]:
X_test.head(7)

     Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med  Pos_2
181    2  11  5  15   36       33       18       1.5677       0.8551      4
258   19   3  9 -11   16       11       22       0.5081       1.0162    361
15    16   6  9 -12   22       27       39       1.0526       1.5205    256
65     6   8  5   6   30       28       22       1.0072       0.7914     36
216   17   4  6  -5   21       18       23       0.7407       0.9465    289
63     4   9  4   7   33       28       21       1.0072       0.7554     16
240    1  12  2  16   41       32       16       1.4781       0.7390      1

In [238]:
pred_proba = logisticRegr.predict_proba(X_test)

In [239]:
pd.DataFrame(pred_proba*100)[1][40]

0.4951931379576229

In [240]:
predictions

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [241]:
X_test.head()

     Pos   V  D  SG  Pts  gol_pro  gol_con  gol_pro/med  gol_con/med  Pos_2
181    2  11  5  15   36       33       18       1.5677       0.8551      4
258   19   3  9 -11   16       11       22       0.5081       1.0162    361
15    16   6  9 -12   22       27       39       1.0526       1.5205    256
65     6   8  5   6   30       28       22       1.0072       0.7914     36
216   17   4  6  -5   21       18       23       0.7407       0.9465    289

In [245]:
teste = np.array([2,13,2,19,43,34,15,1.4561,0.6424, 4])

In [246]:
teste = teste.reshape(1,-1)

In [247]:
logisticRegr.predict_proba(teste)

array([[0.35229925, 0.64770075]])

In [248]:
pd.DataFrame(teste)

     0     1    2     3     4     5     6       7       8    9
0  2.0  13.0  2.0  19.0  43.0  34.0  15.0  1.4561  0.6424  4.0

In [249]:
pd.DataFrame(logisticRegr.coef_)

,0,1,2,3,4,5,6,7,8,9
0,-0.49095,0.535215,-0.720275,-0.019352,-0.098983,0.029821,0.049173,-0.215247,-0.30869,0.024387

In [250]:
tudo = logisticRegr.predict_proba(Aha)

In [251]:
Aha['champs'] = pd.DataFrame(tudo)[1]
Aha.head()

,Pos,V,D,SG,Pts,gol_pro,gol_con,gol_pro/med,gol_con/med,Pos_2,champs
0,1,11,3,11,38,32,21,1.2476,0.8187,1,0.527876
1,2,9,3,6,34,27,21,1.0526,0.8187,4,0.270707
2,3,9,5,10,32,27,17,1.0526,0.6628,9,0.055797
3,4,9,6,10,31,35,25,1.3645,0.9747,16,0.035516
4,5,8,6,4,29,30,26,1.1696,1.0136,25,0.020549

In [261]:
#Aha['campeão']
Aha['campeão'] = cl_br['campeão']

In [265]:
Aha.sort_values(['campeão','champs'], ascending = False).head(20)

,Pos,V,D,SG,Pts,gol_pro,gol_con,gol_pro/med,gol_con/med,Pos_2,champs,campeão
220,1,14,0,23,47,32,9,1.3793,0.3879,1,0.906325,1
160,1,13,2,23,43,41,18,2.0551,0.9023,1,0.749592,1
121,2,12,1,20,42,31,11,1.3276,0.4711,4,0.661060,1
260,1,13,3,24,42,42,18,1.9310,0.8276,1,0.630738,1
300,1,13,3,15,42,29,14,1.3712,0.6619,1,0.573668,1
140,1,12,3,24,40,42,18,1.7464,0.7484,1,0.565206,1
0,1,11,3,11,38,32,21,1.2476,0.8187,1,0.527876,1
180,1,12,3,13,40,27,14,1.2827,0.6651,1,0.489178,1
80,1,11,3,16,38,32,16,1.3734,0.6867,1,0.445879,1
20,1,12,3,17,40,24,7,0.8939,0.2607,1,0.414387,1
100,1,11,4,12,37,30,18,1.1976,0.7186,1,0.333028,1
200,1,11,5,15,36,35,20,1.4403,0.8230,1,0.229544,1
282,3,10,4,8,35,33,25,1.4072,1.0661,9,0.188486,1
43,4,9,4,12,33,33,21,1.2717,0.8092,16,0.092541,1
245,6,9,4,14,33,29,15,1.3395,0.6928,36,0.038834,1
69,10,7,6,-3,27,28,31,1.0072,1.1151,100,0.010967,1
120,1,13,2,19,43,34,15,1.4561,0.6424,1,0.736283,0
240,1,12,2,16,41,32,16,1.4781,0.7390,1,0.668747,0
40,1,12,2,23,41,35,12,1.3487,0.4624,1,0.639470,0
101,2,9,1,12,36,33,21,1.3174,0.8383,4,0.562500,0

In [ ]:
sns.pairplot(Aha, kind='reg')

In [ ]:
X_train.head()

In [ ]:
X_test['campeão?'] = pd.DataFrame(pred_proba*100)[1]

In [ ]:
X_test = X_test.reset_index()
predic_df = pd.DataFrame(pred_proba*100)
X_test['champs'] = predic_df[1]
X_test

In [ ]:
X_test = X_test.drop(['index','campeão?'], axis=1)

In [ ]:
X_test.to_csv('X_test.csv')

In [ ]:
X_test.sort_values(['champs'], ascending=False)

In [ ]:
sns.pairplot(X_test, kind='reg')