In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [47]:
cl_br = pd.read_csv('treino.csv')

In [48]:
cl_br.head()

,Pos,Clube,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med,campeão,rebaixou,Liberta
0,1,São Paulo FC,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187,1,0,1
1,2,SC Internacional,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187,0,0,1
2,3,Santos FC,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628,0,0,1
3,4,Paraná Clube,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747,0,0,1
4,5,Grêmio FBPA,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136,0,0,1

In [49]:
cl_br.drop(['Clube', 'campeão', 'rebaixou', 'Liberta'], axis=1)

,Pos,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med
0,1,11,5,3,11,38,32,21,1.684,1.105,0.6667,1.2476,0.8187
1,2,9,7,3,6,34,27,21,1.421,1.105,0.5965,1.0526,0.8187
2,3,9,5,5,10,32,27,17,1.421,0.895,0.5614,1.0526,0.6628
3,4,9,4,6,10,31,35,25,1.842,1.316,0.5439,1.3645,0.9747
4,5,8,5,6,4,29,30,26,1.579,1.368,0.5088,1.1696,1.0136
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,16,6,3,10,-8,21,24,32,1.263,1.684,0.3684,1.1348,1.5130
316,17,4,7,8,-7,19,15,22,0.789,1.158,0.3333,0.7092,1.0402
317,18,4,5,10,-7,17,15,22,0.789,1.158,0.2982,0.7092,1.0402
318,19,3,8,8,-6,17,8,14,0.421,0.737,0.2982,0.3783,0.6619
319,20,0,7,12,-16,7,15,31,0.789,1.632,0.1228,0.7092,1.4657

In [50]:
X_train = cl_br.drop(['Clube', 'campeão', 'rebaixou', 'Liberta'], axis=1)

In [51]:
cl_br['campeão'].head()

0    1
1    0
2    0
3    0
4    0
Name: campeão, dtype: int64

In [52]:
y_train_1 = cl_br['campeão']

In [53]:
cl_br['rebaixou'].head()

0    0
1    0
2    0
3    0
4    0
Name: rebaixou, dtype: int64

In [54]:
y_train_2 = cl_br['rebaixou']

In [55]:
cl_br['Liberta'].head()

0    1
1    1
2    1
3    1
4    1
Name: Liberta, dtype: int64

In [56]:
y_train_2 = cl_br['Liberta']

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train, X_test, y_train_1, y_test_1 = train_test_split(X_train, y_train_1, test_size=0.25, random_state=0)

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
logisticRegr = LogisticRegression()

In [61]:
logisticRegr.fit(X_train, y_train_1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [62]:
score = logisticRegr.score(X_test, y_test_1)
print(score)

0.9625

In [68]:
predictions = logisticRegr.predict(X_test)

In [114]:
X_test.head(7)

,Pos,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med
181,2,11,3,5,15,36,33,18,1.737,0.947,0.6316,1.5677,0.8551
258,19,3,7,9,-11,16,11,22,0.579,1.158,0.2807,0.5081,1.0162
15,16,6,4,9,-12,22,27,39,1.421,2.053,0.3860,1.0526,1.5205
65,6,8,6,5,6,30,28,22,1.474,1.158,0.5263,1.0072,0.7914
216,17,4,9,6,-5,21,18,23,0.947,1.211,0.3684,0.7407,0.9465
63,4,9,6,4,7,33,28,21,1.474,1.105,0.5789,1.0072,0.7554
240,1,12,5,2,16,41,32,16,1.684,0.842,0.7193,1.4781,0.7390

In [71]:
pred_proba = logisticRegr.predict_proba(X_test)

In [110]:
pd.DataFrame(pred_proba*100)[1][40]

0.531874731273251

In [69]:
predictions

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [164]:
teste = np.array([1,14,5,0,23,47,32,9,1.6840,0.4740,0.8246,1.3793,0.3879])

In [165]:
teste = teste.reshape(1,-1)

In [166]:
logisticRegr.predict_proba(teste)

array([[0.04226965, 0.95773035]])

In [121]:
pd.DataFrame(teste)

          0
0    2.0000
1    7.0000
2    7.0000
3    5.0000
4   19.0000
5   28.0000
6   38.0000
7   19.0000
8    2.0000
9    1.0000
10   0.4912
11   1.5000
12   1.0000

In [168]:
pd.DataFrame(logisticRegr.coef_)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.075413,0.100808,0.148845,-0.157892,-0.057591,0.456921,0.027721,0.085312,0.002415,0.002888,0.007924,-0.119808,-0.272695

In [169]:
X_train.head()

,Pos,V,E,D,SG,Pts,gol_pro,gol_con,gol_pro_pj,gol_con_pj,aprov,gol_pro/med,gol_con/med
198,19,4,4,11,-8,16,13,21,0.684,1.105,0.2807,0.6176,0.9976
238,19,4,6,9,-15,18,10,25,0.526,1.316,0.3158,0.4310,1.0776
199,20,3,4,12,-23,13,8,31,0.421,1.632,0.2281,0.3800,1.4727
222,3,10,5,4,9,35,22,13,1.158,0.684,0.6140,0.9483,0.5603
120,1,13,4,2,19,43,34,15,1.789,0.789,0.7544,1.4561,0.6424